
  
  .table-input-container {
    background-color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 3px 3px 0 rgb(255, 255, 255), 6px 6px 0 rgb(0, 13, 255);
    width: 90%;
    max-width: 800px;
    margin: 20px auto; 
    color: rgb(255, 255, 255);
    box-sizing: border-box;
  }
  
  .table-input-container h4 {
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
  }
  
  .select-group, .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
  }
  
  .input-group input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid rgb(0, 13, 255);
    background-color: rgb(0, 1, 37);
    color: rgb(255, 255, 255);
    box-sizing: border-box; 
  }
  
  button {
    background-color: rgb(0, 13, 255);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    max-width: 150px;
    box-sizing: border-box; 
  }
  
  button:hover {
    background-color: rgb(0, 13, 255);
  }
  
  .data-list table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #222222;
  }
  
  .data-list th, .data-list td {
    border: 1px solid rgb(0, 13, 255);
    padding: 10px;
    text-align: left;
    color: #ffffff;
  }
  
  .data-list th {
    background-color: #333333;
  }
  
  .data-list tbody tr:nth-child(odd) {
    background-color: #2a2a2a;
  }
  